.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    z-index: 99;
    min-height: 75px;
    align-items: center;
    margin-top: 0px;
    background-color:white;
    /* padding: 0 10% 0 ; */
  }

   @media (max-width: 600px) {
    .header {
      flex-wrap: wrap;
    }
  } 
