.header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  /* @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  } */
