
.ul{
    padding-left: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    font-family: 'Varela',Helvetica,Arial,Lucida,sans-serif;
    
    color: #3f3d3a;
  }

  /* .ul:hover .prueba{
    display:block;
    
  }

  .ul:hover li{
    display:block;
    background-color: red;
    position: absolute;
  } */

  .prueba2{
    display:none;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    border-color: #53a59c;
    border-top:#53a59c 3px solid;
    text-align: left;
    width: 200px;
    background-color:white;
    line-height: 30px;
    margin-top:25px;
}



  .ul:hover .prueba2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 38px;
    padding: 10px;
    text-align: left;

  }

li{
    list-style: none;
    /* display: none; */
  }
  
  a{
    color: #3f3d3a;
    text-decoration: none;
  }

 @media (max-width: 650px) {
    ul {
      flex-direction: column;
    }

    li {
    padding-bottom: 5px;
    }
  } 