
.headerlogo{  
        width: 60vw;
}

@media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }

.logo-img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 650px) {
    .logo-img {
      margin: 0 auto;
    }
  }