.header-nav{
    font-weight: 400;
  }


  @media (max-width: 650px) {
    .header-nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    /* nav li {
      padding-bottom: 5px;
    } */
  }