.ul{
    padding-left: 15px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

li{
    list-style: none;
    display: none;
  }
  
  a{
    color: #3f3d3a;
    text-decoration: none;
  }

 @media (max-width: 650px) {
    ul {
      flex-direction: column;
    }

    li {
    padding-bottom: 5px;
    }
  } 