.about {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.description {
	text-align: center;
	font-family: 'Verdana', Helvetica, Arial, Lucida, sans-serif;
	font-size: 15px;
	letter-spacing: 3px;
	line-height: 1.8em;
	max-width: 700px;
	margin: 15px auto 0;
	padding: 0 15px;
}

.about__columns {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	margin-top: 90px;
}

@media (min-width: 768px) {
	.about__columns {
		flex-direction: row;
	}
}

@media (min-width: 1200px) {
	.about {
		width: 1200px;
	}
	.about__columns {
		flex-direction: row;
	}
}
