* {
	box-sizing: border-box;
}
body {
	background-color: #ffffff;
	color: #666;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
}

h2 {
	font-family: 'Verdana', Helvetica, Arial, Lucida, sans-serif;
	font-size: 42px;
	color: #3f3d3a;
	line-height: 1.3em;
	text-align: center;
	font-weight: normal;
}
